.add-listing-form {
  padding: 10px;
  margin: 10px;
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.MuiTextField-root {
  padding: 10px;
}

.listing-table {
  font-size: 12pt;
  padding: 15px;
  min-height: 600px;
  width: 100%;
}

.center {
  text-align: center;
}

.buttons-below-table {
  margin: 20px;
  margin-top: 50px;
}

.buttons-below-table button {
  margin-right: 20px;
}

.hidden {
  display: none;
}